/* colour palette from coolors.co (https://coolors.co/fe5d26-f2c078-faedca-c1dbb3-7ebc89) */
:root {
    --giantsorange: #FE5D26;
    --earthyellow: #F2C078;
    --dutchwhtie: #FAEDCA;
    --teagreen: #C1DBB3;
    --emerald: #7EBC89;
}

@font-face {
    font-family: 'Sceugeus';
    src: url('/public/fonts/Sceageus.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.header {
    background-color: var(--earthyellow);
    padding: 5px;
}

.navbar-brand {
    font-family: 'Sceugeus', sans-serif;
    font-size: 65px;
    color: var(--giantsorange);
}

.navbar-brand:hover {
    color: var(--dutchwhtie);
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: var(--giantsorange);
}

.nav-link:hover {
    color: var(--dutchwhtie);
}

.form-control {
    border-color: var(--giantsorange);
}

.btn-outline-success {
    border-color: var(--giantsorange);
    color: var(--giantsorange);
}