/* colour palette from coolors.co (https://coolors.co/fe5d26-f2c078-faedca-c1dbb3-7ebc89) */
:root {
    --giantsorange: #FE5D26;
    --earthyellow: #F2C078;
    --dutchwhtie: #FAEDCA;
    --teagreen: #C1DBB3;
    --emerald: #7EBC89;
}

.item-description,
.item-price {
    margin: 15px;
}

.item-description {
    text-align: left;
}

.item-price {
    text-align: right;
    color: var(--giantsorange);
}